* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom right, #2f2f2f, #090909);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.register-box {
  background: rgba(217, 214, 214, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 40px 30px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.register-box h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #fff;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-group i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #ccc;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.input-group input::placeholder {
  color: #ddd;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: white;
  color: #000000;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #f1f1f1;
}

.login-text {
  margin-top: 15px;
  font-size: 0.9em;
}

.login-text a {
  color: #fff;
  text-decoration: underline;
}

#register-error {
  color: rgb(174, 0, 0);
  margin-top: 10px;
  font-size: 0.9em;
}
